$primary-color: #2fb1e6;
$secondary-color: #ff5900;
$tetriary-color: #33363d;
$text-color: #fff;
$pagination-hover: #ddd;
$dark-color: #000;
$light-color: #fff;
$card-background: #a39797;
$spinner-border: #f3f3f3;
$spinner-border-dark: #383636;
$slider-background: #ccc;
$slider-color: #6495ed;
$like-color: #ff0000;
