.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

@media (min-width: 340px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

@media (min-width: 440px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  }
}

@media (min-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (min-width: 800px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

@media (min-width: 1500px) {
  .cardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
